<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="cn.porkchop.pinyougou.sellergoods.service"/>

    <dubbo:protocol name="dubbo" port="20881"/>
    <dubbo:application name="pinyougou-sellergoods-service"/>
    <dubbo:registry protocol="zookeeper" address="192.168.193.128:2181" />
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.BrandService" ref="brandServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.GoodsDescService" ref="goodsDescServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.GoodsService" ref="goodsServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.ItemCatService" ref="itemCatServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.ItemService" ref="itemServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.SellerService" ref="sellerServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.SpecificationOptionService" ref="specificationOptionServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.SpecificationService" ref="specificationServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.TypeTemplateService" ref="typeTemplateServiceImpl" timeout="600000"/>


    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.AddressService" ref="addressServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.AreasService" ref="areasServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.CitiesService" ref="citiesServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.ContentCategoryService" ref="contentCategoryServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.ContentService" ref="contentServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.FreightTemplateService" ref="freightTemplateServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.OrderItemService" ref="orderItemServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.OrderService" ref="orderServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.PayLogService" ref="payLogServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.ProvincesService" ref="provincesServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.SeckillGoodsService" ref="seckillGoodsServiceImpl" timeout="600000"/>
    <dubbo:service interface="cn.porkchop.pinyougou.sellergoods.service.SeckillOrderService" ref="seckillOrderServiceImpl" timeout="600000"/>



</beans>
